%head
  %title 
    Chef Dashboard - Version
    = Chef::Dashboard::VERSION
  %head
    %script{:type => "text/javascript", :src => "/assets/js/jquery.js"}
    %script{:type => "text/javascript", :src => "/assets/js/bootstrap.min.js"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "/assets/css/bootstrap.min.css"}
%body
  %div.navbar.navbar-fixed-top
    %div.navbar-inner
      %div.container-fluid
        -#%a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
          -#.icon-bar
          -#.icon-bar
          -#.icon-bar
        %a.brand{:href => "/"} 
          Chef Dashboard v#{Chef::Dashboard::VERSION}
        %div.nav-collapse
          %ul.nav
            %li.active
              %a{:href => "/"} Home
            %li
              %a{:href => "/"} Nodes
          %p.navbar-text.pull-right
            %a{:href => "#"} Credits
          %span.divider-vertical.pull-right
          %p.navbar-text.pull-right
            #{$nodes.count} reporting nodes
  %div.well-large
    %div.container-fluid.well-large
      %div.row-fluid
        = yield
